@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

svg {
  max-width: 100PX;
  HEIGHT: AUTO;
}


.footer {
  background-color: #3b82f6;
  color: #fff;
  padding: 1.5rem 0
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center
}

.footer-tagline {
  font-size: 1.125rem;
  font-weight: 500
}

.footer-subtitle {
  margin-top: .5rem;
  opacity: .75
}
